body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
     margin-top: 2em;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
  }

  .scrollable-container {
     height: 50vh;
     overflow-y: auto;
     
  }

  #resultContainer::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  
  #resultContainer::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  #resultContainer::-webkit-scrollbar-thumb
  {
      background-color: #0ae;
      
      background-image: -webkit-gradient(linear, 0 0, 0 100%,
                         color-stop(.5, rgba(255, 255, 255, .2)),
                         color-stop(.5, transparent), to(transparent));
  }
  

  a:hover {
    background-color: #37CEEB;
  }

  